@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');


:root{
    --font-Poppins:'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;

    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}
::-webkit-scrollbar{
    width: 0px;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "login image";
}

.container-login{
    grid-area: login;
    width: 50vw;
    height: 100vh;
    background-color: var(--background);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: auto;
}

.container-login  form{
    width: 600px;
    height: 570px;

    border-radius: 5px;
    background-color: var(--form-background);
    margin: 0px 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#titulo{
    width: 100%;
    margin-bottom: 24px;
}

#titulo h1{
    font-family: var(--font-Poppins);
    font-size: 24px;
    font-weight: bold;
    color: var(--text-title);
    margin-bottom: 8px;

    text-align: center;
}

#titulo p {
    font-family: var(--font-roboto);
    font-size: 16px;
    color: var(--text-base);
    text-align: center;
}
#container-email,#container-senha{
    width: 60%;
    height: auto;

    font-family: var(--font-Poppins);
    font-size: 16px;
    margin-bottom: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-label{
    width: 100%;
}
#container-email input, #container-senha input{
    width: 100%;
    height: 55px;

    border-radius: 5px;
    background-color: transparent;

    border: 2px solid #868686;
    color: var(--text-base);

    margin-top: 5px;
    font-size: 16px;
    text-indent: 10px;
}
#container-esqueciSenha{
    width: 100%;
    font-family: var(--font-Poppins);
    font-size: 16px;
    color: var(--text-base);
    text-align: left;
    
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 24px;
}


#container-esqueciSenha > #link{
    text-decoration: none;
    color: var(--text-base);
}

#link a{
    text-decoration: none;
    color: var(--primary-color);
}

#link a:hover{
    text-decoration: underline;
}

#container-esqueciSenha > #checkbox-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#checkbox-button{
    transform: scale(1.8);
}


#checkbox-texto label:hover{
    text-decoration: underline;
    cursor: pointer;
    
}

#container-entrar{ 
    width: 60%;
    height: auto;

    margin-bottom: 10px;
    text-align: center;
}

#container-entrar input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: var(--primary-color);
    border: none;
}

#container-entrar input:hover{
    cursor: pointer;
}

#container-registro{
    width: 100%;
    text-align: center;
}
#container-registro p,a{
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--font-Poppins) ;
}

#container-registro a:hover{
    text-decoration: underline;
}

.container-img{
    grid-area: image;
    background-image: url('images/side-image-2x.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width:1000px){
    main{
        grid-template-columns: 60vw 40vw;
        grid-template-rows: 100vh;
        grid-template-areas: "login image";
    }

    .container-login{
        width: 60vw;
    }
}

@media only screen and (max-width: 800px){
    main{
        grid-template-columns: 1fr;
        grid-template-areas: "login";
    }

    .container-login{
        width: 100vw;
    }

    .container-login  form{
        width: 550px;
    }

    #container-email,#container-senha{
        width: 70%;
    }
}

@media only screen and (max-width: 480px){
    #container-email,#container-senha{
        width: 80%;
    }
    #titulo p{
        display: none;
    }
    #container-esqueciSenha{
        font-size: 14px;
        gap: 10px;
    }
    #checkbox-button{
        transform: scale(1.2);
    }
    #container-entrar{
        width: 80%;
        margin-bottom: 20px;
    }
    #container-registro{
        font-size: 14px;
    }
} 